.centered {
  width: 550px;
  position: absolute;
  
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.toggle-buttons__login {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

.highlight-bar {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  
  transition: transform 0.3s ease;
}

.toggle-buttons__login.sign-up-active .highlight-bar {
  transform: translateX(100%);
  background-color: #BBDAA4;
}

.toggle-buttons__login.sign-in-active .highlight-bar {
  transform: translateX(0);
  background-color: #BBDAA4;
}


.toggle-buttons__login button {
  z-index: 1;
  width: 50%;
  height: 100%;
}





button {
  cursor: pointer;
  background: none;
  color: #3b3b3b;
  
}


.secondary {
  background: none;
  color: #BBDAA4;
}

.heading__login {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 40px;
  font-size: 40px;
  
}