.route-info {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #BBDAA4;
    
    background-color: inherit;
    /* box-shadow: 0 0 20px 12px #BBDAA4; */
}
.createRoute-section {
    padding: 12px;
    background-color: inherit;
    width: 100%;
}

#map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    border-color: rgb(0, 131, 192);
    background-color: inherit;
    box-shadow: 0 0 20px 12px #BBDAA4;
    border-radius: 12px;
}

/* make ambient lighting to have a dynamic border glow aorund the map */

.route-parent__parent {
    display: flex;
    column-gap: 5%;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.route-parent__left {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: baseline;
    width: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.route-parent__map {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    height: 100%
}

.route-info__div {
    display: flex;
    column-gap: 12px;
    flex-direction: row;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 12px;
    margin: 16px 16px 16px 16px;
    padding: 16px 12px;
}

.route-info__text {
    font-size: 32px;
    color: white;
}

.route-info__div svg {
    height: 6em;
    width: auto;
    vertical-align: middle;
}

